<div class='footer footer-color'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-3 col-md-4 col-sm-3 col-xs-6'>
            <h4>Who We Are</h4>
            <p><i>Joan Orrit Palau.</i> Computer Engineer. Web Developer 
            <p><a class="footer" href='#'>More About Me</a></p>
          </div>

          <div class='col-md-2 col-sm-3 col-md-offset-1 col-xs-6'>
            <h4>Links</h4>
            <ul class="footer">
              <li><a class="footer" href={{ path('home') }}>Home</a></li>
              <li><a class="footer" href={{ path('best_webistes') }}>Websites</a></li>
              <li><a class="footer" href={{ path('networking') }}>Networking</a></li>
              <li><a class="footer" href={{ path('interview') }}>Interview</a></li>
              <li><a class="footer" href={{ path('resume') }}>Resume</a></li>
            </ul>
          </div>
  
          <div class="visible-xs clearfix"></div>
          <div class='col-md-2 col-sm-3 col-xs-6'>
            <h4>Stay in Touch</h4>
            <ul>
              <li><a class="footer" href='#'>About</a></li>
              <li><a class="footer" href='#'>Contact Us</a></li>
            </ul>
          </div>

          <div class='col-md-3 col-md-offset-1 col-sm-3 col-xs-6'>
            <h4>Contact Us</h4>
            <ul class="footer">
              <li>Vancouver, Canada</li>
              <li>jorrit06@gmail.com</li>
              <li><a class="footer" href='mailto:jorrit06@gmail.com'>Send email</a></li>
            </ul>
            <p>Find a job Vanocouver, BC</p>
          </div>
        </div>
      </div>
    </div>