{% extends 'base.html.twig' %}

{% block body %}
	<section id="description" class="bg-image-home pd-bottom-home">
		<div class="container">
			<div class="row">
				<div class="visible-xs visible-xs pd-bottom-section pd-bottom-top"></div>
				<div class="col-xs-12">
					<h1 class="text-center pd-top">How to find a job in Vancouver?</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3 class="text-center">Discover the basic steps for finding a job at Vancouver, BC </h3>
				</div>
			</div>
		</div>
	</section>

	<section id="icons" class="pd-bottom-section pd-bottom-top">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<a href={{ path('resume') }} title="">
						<i class="center-block fas fa-file-alt fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">Resume</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
				<div class="col-lg-4">
					<a href={{ path('interview') }} title="">
						<i class="center-block far fa-comment-alt fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">Interview</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
				<div class="col-lg-4">
					<a href={{ path('networking') }} title="">
						<i class="center-block fas fa-phone fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">Follow Up</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
			</div>

			<div class="mg-top mg-bottom"></div>
				<div class="col-lg-4">
					<a href={{ path('best_webistes') }} title="">
						<i class="center-block fas fa-desktop fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">Best Websites</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
				<div class="col-lg-4">
					<a href={{ path('resume') }} title="">
						<i class="center-block far fa-envelope fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">Contact</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
				<div class="col-lg-4">
					<a href={{ path('resume') }} title="">
						<i class="center-block fas fa-question-circle fa-7x ico-prova"></i>
					</a>
					<h3 class="text-center">About</h3>
					<p class="text-center">adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
			</div>
		</div>
	</section>

	<!--<section id="interview" class="pd-bottom-section pd-bottom-top bg-color-blue">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 pd-1-bottom">
					<h2 class="text-center">How to have an Interview at Vancouver?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href={{ path('interview') }} class="btn btn-primary">Start learning</a>
				</div>
			</div>
		</div>
	</section>


	<section id="networking" class="pd-bottom-section pd-bottom-top bg-color-gray">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 pd-1-bottom">
					<h2 class="text-center">Networking is basic to find a job at BC</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href={{ path('networking') }} class="btn btn-info">Learn how</a>
				</div>
			</div>
		</div>
	</section>

	<section id="resume" class="pd-bottom-section pd-bottom-top bg-color-red">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 pd-1-bottom">
					<h2 class="text-center">What is a good resume?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href={{ path('resume') }} class="btn btn-danger">Start learning</a>
				</div>
			</div>
		</div>
	</section>

	<section id="job_websites" class="pd-bottom-section pd-bottom-top bg-color-neutral">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 pd-1-bottom">
					<h2 class="text-center">Which are the best websites to applying for a job? </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href={{ path('best_webistes') }} class="btn btn-info">Discover them</a>
				</div>
			</div>
		</div>
	</section>-->

	{{ include('footer.html.twig') }}

{% endblock %}
